h1, div{
    text-align: center;
    line-height: 1.5em;
}
div{
    margin-top:0;
}
h1{
    margin-top: 20px;
    margin-bottom:5px;
    padding:0;
}
.btn{
    padding: 5px 8px;
    margin: 8px;
    border-radius: 5px;
}